fastapi==0.131.0
uvicorn==0.41.0

python-socketio==5.16.1
websocket-client==1.8.0
websockets==12.0

pymongo==3.12.0
pymongo[srv]

pydantic==2.12.5
pandas==3.0.1

python-dotenv==1.2.1
requests==2.32.5
urllib3==2.6.3

protobuf